<template>
  <div>
  	<router-view :bands="bands" :filteredBands="filteredBands" :sort="sort" @search="search" @sortBy="sortBy"></router-view>

    <div class="modal is-active" v-if="isLoadingGeneral">
      <div class="modal-background" style="background-color: rgba(255, 255, 255, 0.6);"></div>
      <div class="modal-content" style="overflow: hidden;">
        <p style="width:100%;" align="center">
            <span class="icon is-large"><i class="fa fa-cog fa-spin"></i></span>
        </p>
      </div>
    </div>

  </div>
</template>

<script>

export default {

  data () {
    return {
      bands: [],
      filteredBands: [],
      isLoadingGeneral: true,
      sort: 'name',
      searchFor: ''
    }
  },

  methods: {

    start () {
      window.Event.$emit('isLoadingGeneral', true)

      var self = this

      var q = window.async.queue(function (task, callback) {
        self[task]()
        .then(function (response) {
          callback()
        }, function (error) {
          console.error('Failed!', error)
        })
      }, 1)
      q.push(['getBands'])

      q.drain = function () { // todos os items foram processados
        window.Event.$emit('isLoadingGeneral', false)
      }
    },
    getBands () {
      var self = this
      return new Promise(function (resolve, reject) {
        window.axios.get('https://iws-recruiting-bands.herokuapp.com/api/bands')
        .then(response => {
          // console.log(response)
          self.bands = response.data
          self.filteredBands = response.data
          window.Event.$emit('BandsAreReady')
          resolve()
        })
      })
    },
    search (searchFor) {
      // console.log(searchFor)
      let matches = this.bands.filter(band => {
        if (band.name.toLowerCase().includes(searchFor.toLowerCase())) {
          return true
        }
      })
      matches = window._.sortBy(matches, this.sort)
      if (this.sort === 'numPlays') {
        matches = matches.reverse()
      }
      this.filteredBands = matches
    },
    sortBy (sortBy) {
      this.sort = sortBy
      this.search(this.searchFor)
    }
  },

  created () { // listening to show Loading
    window.Event.$on('isLoadingGeneral', (isLoadingGeneral) => {
      this.isLoadingGeneral = isLoadingGeneral
    })
  },

  mounted () {
    console.log('App.vue mounted')
    this.start()
  }

}
</script>

<style>

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css');
@import './assets/css/isobarfm.css';

</style>
