<template>
  <div>

    <headbar @search="search" type="bands"></headbar>

    <section class="submenu" v-if="filteredBands.length>0">
      <div class="nresults">{{filteredBands.length}} resultado(s)</div>
      <div class="order_by">
        <img class="order_by-icon" src="./../assets/order_by.png" @click="toggleFloatingMenu">
        <div class="floating-menu" v-if="floatingMenu">
          <ul>
            <li @click="$emit('sortBy', 'name'); floatingMenu=false" :class="{ 'bold': sort=='name' }">ORDEM ALFABÉTICA</li>
            <li @click="$emit('sortBy', 'numPlays'); floatingMenu=false" :class="{ 'bold': sort=='numPlays' }">POPULARIDADE</li>
          </ul>
        </div>
      </div>
    </section>

    <article class="item" v-for="band in filteredBands" v-if="band.name!='Adele'" @click="goToBand(band.id)"> <!-- Adele's image is not working -->
      <div class="middle">
        <figure class="thumb">
          <p class="image is-64x64">
            <img :src="band.image" style="border-radius: 50%;">
          </p>
        </figure>
        <div class="info">
          <div class="middle">
            <div>
              <strong>{{band.name | upper}}</strong> <small>{{band.genre}}</small>
              <br>
              <span>{{band.numPlays}} PLAYS</span>
            </div>
          </div>
        </div>
      </div>
    </article>

    <div v-if="filteredBands.length==0">
        <p style="width: 100%; margin-top:20%;" align="center">
          <span style="font-size: 20px; color: #cbcbcb">Nenhum resultado!</span><br><br>
          <img src="./../assets/no_results.png" width="50%;">
        </p>
    </div>

  </div>
</template>

<script>
import headbar from './Headbar'

export default {
  components: {
    headbar
  },
  props: [
    'filteredBands',
    'sort'
  ],
  data () {
    return {
      floatingMenu: false
    }
  },
  filters: {
    upper (val) {
      return val.toUpperCase()
    }
  },
  methods: {
    toggleFloatingMenu () {
      this.floatingMenu = !this.floatingMenu
    },
    goToBand (id) {
      this.$router.push({ path: '/band/' + id })
    },
    search (searchFor) {
      this.$emit('search', searchFor)
    },
    created () {
    }
  }
}
</script>

<style scoped>
.submenu {
  position: relative;
  background-color: #efefef;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.nresults {
  position: relative;
  width: 50%;
  float: left;
  padding-left: 20px;
}
.order_by {
  position: relative;
  width: 50%;
  float: right;
}
.order_by .floating-menu {
  z-index: 10;
  position: absolute;
  background-color: #323232;
  top: 40px;
  right: 13px;
}
.order_by .floating-menu ul li {
  padding-left: 10px;
  padding-right: 10px;
  color: gray;
  text-align: right;
  font-size: 14px;
}
.order_by-icon {
  position: relative;
  width: 40px;
  float: right;
  right: 13px;
}

.item {
  display: table;
  clear: both;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #efefef;
}

.info {
  display: table;
  position: relative;
  height: 64px;
  padding-left: 10px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.item .thumb {
  position: relative;
  float: left;
  margin-left: 20px;
}

.media .media-content {
  position: relative;
}
.bold {
  font-weight: bold;
}
</style>
