<template>
	<div v-bind:style="{ background: 'url('+band.image+')', 'background-repeat': 'no-repeat', 'background-attachment': 'fixed', 'background-size': 'contain' }">

    	<headbar type="band"></headbar>

      <section>
        
        <h1 align="center" style="width:100%; margin-top:120px; font-size:35px; color:white;">{{band.name}}</h1>
        <div style="height:30px"></div>

        <div style="width:100%; position:relative; background-color:white; margin-top: 50px">

          <div class="col pull-left">
            {{band.genre|upper}}
          </div>
          <div style="position:relative; float:left; width:40%; text-align:center; top:-60px;">
            <p style="width:100%" align="center">
              <img :src="band.image" style="border-radius: 50%; width:80%;">
            </p>
          </div>
          <div class="col pull-right">
            {{band.numPlays}} PLAYS
          </div>

          <div style="clear:both;"></div>

          <p style="padding:15px" align="justify">
            {{band.biography}}
          </p>

        </div>

      </section>

    </div>
</template>

<script>
import headbar from './Headbar'

export default {
  components: {
    headbar
  },
  props: [
    'bands',
    'sort'
  ],
  data () {
    return {
      band: {}
    }
  },
  filters: {
    upper (val) {
      return val.toUpperCase()
    }
  },
  methods: {
    getBand () {
      var id = this.$route.params.id
      let findBand = this.bands.filter(band => {
        if (band.id === id) {
          return true
        }
      })
      this.band = findBand[0]
    }
  },
  created () {
  },
  mounted () {
    window.Event.$on('BandsAreReady', () => {
      this.getBand()
    })
    this.getBand()
  }

}
</script>

<style scoped>

.bandBackground {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.col {
  position:relative; width:30%; text-align:center; font-size:12px; line-height: 30px;
}

</style>