<template>

  <header v-bind:class="{ 'isTransparent': type=='band' }">
    <div class="middle">

      <div style="position: relative; float: left; width: 56%;" v-if="type=='bands'">
        <input type="text" class="search" v-model="searchFor" @keyup="$emit('search', searchFor)">
        <img class="search-icon" src="../assets/search.png">
        <img class="cancel-icon" src="../assets/x.png" v-if="searchFor!=''" @click="clearSearch">
      </div>

      <div style="position: relative; float: left; margin-left:15px; line-height:30px" v-else="type=='band'">
        <i class="fa fa-chevron-left" @click="goToHome"></i>
      </div>

      <div style="position: relative; float: right; width: 35%; margin-right:15px;" @click="goToHome" v-if="type=='bands'">
        <img class="logo" src="../assets/logo.png" width="127">
      </div>
      <div style="position: absolute; width: 100%;" @click="goToHome" v-if="type=='band'">
        <img class="logoCentered" src="../assets/logo.png" width="127">
      </div>
    </div>

  </header>

</template>

<script>
export default {
  name: 'Headbar',
  props: [
    'type'
  ],
  data () {
    return {
      searchFor: ''
    }
  },
  methods: {
    clearSearch () {
      this.searchFor = ''
      this.$emit('search', this.searchFor)
    },
    goToHome () {
      this.$router.push({ path: '/' })
    }
  }
}
</script>

<style scoped>

header {
  display: table;
  width: 100%;
  margin: 0;
  height: 94px;
  padding: 0;
  background-color: #f04d22;
  color: #ffffff;
}

.isTransparent {
  background-color: rgba(240, 77, 34, 0.8)!important;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}


header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}

input.search {
  width: 100%;
  padding-left: 10px;
  padding-right: 50px;
  padding-left: 2.25em;
  border: 1px solid transparent;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  height: 2.25em;

}

.search-icon {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 10px;
  top: 7px;
  float: right;
  color: green;
}

.cancel-icon {
  cursor: pointer;
  position: absolute;
  width: 16px;
  left: 10px;
  top: 10px;
  float: right;
  color: green;
}

.logo {
 position: relative;
 top: 3px; 
}

.logoCentered {
  position: relative;
  margin-left: 50%;
  left: -63px;
}

</style>
